<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
      aria-selected="true">Home</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
      aria-selected="false">Profile</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
      aria-selected="false">Contact</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
</div>
<div class=" content">
  <div class=" row">
    <div class=" col-md-8">
      <div class=" card">
        <div class=" card-header">
          <h5 class=" title">การบันทึกการรักษา</h5>
        </div>
        <div class=" card-body">
          <form novalidate="" class="ng-untouched ng-pristine ng-valid">
            <div class=" row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group"><label> ข้อมูลประวัติการแพ้ยา </label><textarea class=" form-control" cols="80"
                    placeholder="Here can be your description" rows="2" value="Mike">Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.
</textarea></div>
              </div>
              <div class=" col-md-6 pl-md-1">
                <div class=" form-group"><label for="exampleInputEmail1"> ประวัติปัจจุบัน (Persent illness)
                  </label><textarea class=" form-control" cols="80" placeholder="Here can be your description" rows="2"
                    value="Mike">Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.
                </textarea></div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group"><label> แปลผล Lab </label><textarea class=" form-control" cols="80"
                    placeholder="Here can be your description" rows="3" value="Mike">Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.
    </textarea></div>
              </div>
              <div class=" col-md-6 pl-md-1">
                <div class=" form-group"><label for="exampleInputEmail1"> แปลผล X-ray
                  </label><textarea class=" form-control" cols="80" placeholder="Here can be your description" rows="3"
                    value="Mike">Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.
                    </textarea></div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-12">
                <div class=" form-group"><label> การทำหัตถการ </label><input class=" form-control"
                    placeholder="Home Address" type="text" value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09">
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group"><label> Diagnosis </label><textarea class=" form-control" cols="80"
                    placeholder="Here can be your description" rows="2" value="Mike">Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.
        </textarea></div>
              </div>
              <div class=" col-md-6 pl-md-1">
                <div class=" form-group"><label for="exampleInputEmail1"> ICD10
                  </label><textarea class=" form-control" cols="80" placeholder="Here can be your description" rows="2"
                    value="Mike">Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.
                        </textarea></div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group"><label> Treatment </label><textarea class=" form-control" cols="80"
                    placeholder="Here can be your description" rows="2" value="Mike">Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.
            </textarea></div>
              </div>
              <div class=" col-md-6 pl-md-1">
                <div class=" form-group"><label for="exampleInputEmail1"> คำแนะนำเกี่ยวกับโรคและภาวะเจ็บป่วย
                  </label><textarea class=" form-control" cols="80" placeholder="Here can be your description" rows="2"
                    value="Mike">Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.
                            </textarea></div>
              </div>
            </div>
          </form>
        </div>
        <div class=" card-footer"><button class=" btn btn-fill btn-danger" type="submit">Save</button></div>
      </div>
    </div>
    <!-- Patien Data Information -->
    <div class=" col-md-4">
      <div class=" card card-user">
        <div class=" card-body">
          <div class="author">
            <!-- <div class=" block block-one">1</div> -->
            <a href="javascript:void(0)"><img alt="..." class=" avatar" src="assets/img/sirichaix.png">
              <h5 class="warning_txt">ผู้ป่วยแพ้ยา, ผู้ป่วย TB, ผู้ป่วยไม่ได้ลงทะเบียน</h5>
            </a>
            <p class="patientName">นายข้อมูลทดสอบ ใช้สำหรับทดสอบ</p>
          </div>
          <div class=" card-description">ผู้ป่วย <span class="patientInfor">เพศชาย</span> เกิดวันที่ <span
              class="patientInfor">1 มกราคม 2525</span>
            <br> อายุ <span class="patientInfor">40 ปี 5 เดือน 10 วัน</span>
            หมู่เลือด <span class="patientInfor">A</span>
            <br> สิทธิรักษา <span class="patientInfor">บัตรประกันสุขภาพบัตรทอง [TYPE 4]</span>
          </div>
        </div>
      </div>
      <p></p>
      <div class="alert alert-warning" role="alert">
        แจ้งเตือนผู้ป่วยกลุ่มเสี่ยง : DM,CKD,COPD,HIV,Cirrhosis (ไม่มีประวัติ X-ray) ส่งทำ X-ray
      </div>
      <div class="alert alert-danger" role="alert">
        แพ้ยา : [COVID-19 VACCINE] PFIZER:เข็มที่ 3: หลังฉีด 5 ชม. ปวดเมื่อย, อ่อนเพลีย, ปวดหัวร้าวมาตา 2 ข้าง, ตาบวม,
        วิงเวียน [ฉีดวันที่ 18/2/65 ฉีดที่ รพศ.ชร Lot:FM9092 S/N:106740165013104433] :Non-serious AEFI :P103, [COVID-19
        VACCINE] PFIZER:เข็มที่ 3: หลังฉีด 5 ชม. ปวดเมื่อย, อ่อนเพลีย, ปวดหัวร้าวมาตา 2 ข้าง, ตาบวม, วิงเวียน [ฉีดวันที่
        18/2/65 ฉีดที่ รพศ.ชร Lot:FM9092 S/N:106740165013104433] :Non-serious AEFI :P103,
      </div>
      <div class="alert alert-primary" role="alert">
        ทำ Lab ล่าสุดเมื่อ -
        <br>ทำ X-ray ล่าสุดเมื่อ 1 ปี 2 เดือน
        <br>มีนัดครั้งต่อไปวันที่ 15 สิงหาคม 2565 อีก 50 วัน
      </div>

    </div>
  </div>
</div>
